@(message: String)

@main("Про Pizza.Uz") {
    @navbar("aboutus")
    <div class="container">
        <div class="col-xs-12 col-md-6 col-lg-8 col-lg-offset-2">
            <div class=" panel panel-info">
                <div class="panel-body">
                    <img class="center-block" src=@routes.Assets.at("images/biglogo.png")>
                    <div class="h3"><b>Адрес: г. Ургенч, Гурленский проспект, дом 1/8</b></div>
                    <br>
                    <div class="h3"><b>Контактные данные:</b></div>
                        Для подачи заказов: +998 90 5789229
                        <br>
                        <br>Дежурный: +998 97 2111447
                        <br>Директор: +998 97 5124412<br>
                    <div>E-mail: mr.abdurasuloff&commat;gmail.com</div>

                </div>
            </div>
        </div>
    </div>
}
