@(products: List[Pizza])

@main("Pizza.Uz - Главная страница") {
    @navbar("home")
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 text-center h2" style="color: #fff">
            <img align="top" src=@routes.Assets.at("images/biglogo.png")>желает вам приятного аппетита!
        </div>
        @for(pizza <- products){
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class=" panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">@pizza.name</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-6">
                            <img src="/assets/images/@pizza.image">
                        </div>
                        <div class="col-xs-6 text-right">
                            <h6>@pizza.desc</h6>
                            <h2 class="label label-info">@pizza.price UZS</h2><br><br>
                            <a href="order/@pizza.id"><button class="btn btn-danger">Заказать</button></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
